
/*  general */
*{
margin-left: 0;
border-radius: 0;
box-sizing:border-box;
}

li{
list-style: none;
}

p{
color: grey;
}

h2{
color: white;
}
span{
color: grey;
}

a{
text-decoration: none;
color: gray;
}

a:hover{
 color: white;
 text-decoration: none;
}
/* general section */

#fluid-container{
display: flex;
flex-direction: row;
}

/* vertical section */

.box{
flex-basis: 18%;
height: calc(50%-580px);
padding: 20px;
background-color: black;
display: flex;
flex-direction: column;
justify-content: flex-start;
overflow-y: scroll;

}

#spotify img{
filter: invert(100%);
width: 80%;
height: 40px;
}

nav img{
filter: invert(100%);
height: 20px;
}

#linea{
border-bottom: 1px solid grey;
}

#vert-down{
display: flex;
flex-direction: column;
justify-content: flex-end;
height: 280px;
}

/* orizontal section */

.orizontal{
flex-basis: 90%;
height: 1500px;
background-image: linear-gradient(45deg, #000428, #614385);
overflow-y: scroll;
display: flex;
flex-direction: column;
padding: 30px;
}

#pulsante {
outline: none;
cursor: pointer;
text-align: center;
font-weight: 300;
text-decoration: none;
color: #fff;
padding: 7px 27px;
border: solid 1px grey;
background: black;
border-radius: 20px;
margin-bottom: 30px;
transition:transform 0.3s ease;
}

#pulsante:hover {
 transform: scale(1.1);
 border: solid 1px white;
}

.compilation{
height: 1320px;
padding-top: 30px;
}

#my-st{
padding-left: 15px;
}
.img-fluid{
max-width: 150px;
}

figure:hover {
 opacity: 0.19;
}
/* footer */

#play{
flex-basis: 100%;
display: flex;
height: 14vh;
background-color: #353041;
position:fixed;
z-index: 2;
bottom: 0;
left: 0;
right: 0;
}

.rewind{
 flex-basis: 80%;
}

.volume{
 flex-basis: 30%;
}


#time {
 color: lightgrey;
 font-size: 12px;
}

 #timeline {
 width: 60%;
 height: 4px;
 margin-top: 20px;
 margin-left: 5px;
 background: rgba(0, 0, 0, 0.3);

}

#audioplayer{
 display:flex;
 align-items: flex-end;
 margin-left: 400px;
}

#playhead {
 width: 8px;
 height: 8px;
 -webkit-border-radius: 50%;
 border-radius: 50%;
 margin-top: -3px;
 background: lightgrey;
 cursor: pointer;
}
