
/*  general rules */
*{
margin-left: 0;
border-radius: 0;
box-sizing:border-box;
}

li{
list-style: none;
}

p, span, a{
color: grey;
text-decoration: none;
}

h2, a:hover{
 color: white;
 text-decoration: none;
}

/* general container section */

main{
 background-image: linear-gradient(45deg, #000428, #614385);
 height: calc(100vh - 100px);
 max-width: 100%;
 overflow-y: scroll;
}

#fluid-container{
display: flex;
flex-direction: row;
}

/* vertical section */

.box{
height: calc(100vh - 100px);
width:15%;
padding: 0 20px;
background-color: black;
display: flex;
flex-direction: column;
justify-content: flex-start;
position:fixed;
top:0;
z-index: 200;
}

.box a:hover{
 border-bottom: 2px solid lightgreen;
}

#spotify img{
width: 80%;
height: 40px;
}

nav img{
filter: invert(100%);
height: 20px;
}

#vert-down{
display: flex;
flex-direction: column;
justify-content: flex-end;
height: 280px;
}

#linea{
border-bottom: 1px solid grey;
}

/* orizontal section */

.orizontal{
 flex-basis: 90%;
 height: 1500px;
 display: flex;
 flex-direction: column;
 padding: 30px;
 margin-left: 220px;
}

#pulsante {
 outline: none;
 cursor: pointer;
 text-align: center;
 font-family: inherit;
 font-weight: 1px;
 text-decoration: none;
 color: #fff;
 padding: 7px 27px;
 border: solid 1px grey;
 background: black;
 opacity: 0.6;
 border-radius: 20px;
 margin-bottom: 30px;
 transition:transform 0.3s ease;
}

#pulsante:hover {
 transform: scale(1.1);
 border: solid 1px white;
}

.vert_list-inline li{
 padding-left: 40px;
 padding-right: 40px;
 font-family: sans-serif;
 font-size: 13px;
}

.vert_list-inline li:hover{
 border-bottom: 2px solid lightgreen;
}

.compilation{
 height: 1320px;
 padding-top: 30px;
}

#my-st{
 padding-left: 15px;
}

figure{
 margin-left: 15px;
}

figure:hover {
 opacity: 0.19;
}

.img-fluid{
 max-width: 150px;
}

/* footer */

/* icons audioplayer */
#play{
width: 100%;
height: 100px;
padding-right: 40px;
display: flex;
background-color: #353041;
position:fixed;
z-index: 2;
bottom: 0;
left: 0;
right: 0;
}

.rewind{
 flex-basis: 80%;
}

.my_list-inline{
 padding-left: 350px;
 padding-top:20px;
 margin-bottom: 0;
 font-size: 20px;
 line-height: 4px;
 word-spacing: 15px;
}

/* timeline */
#timeline {
width: 80%;
height: 4px;
margin-top: 20px;
margin-left: 5px;
background: rgba(0, 0, 0, 0.3);
}

#audioplayer{
display:flex;
align-items: flex-end;
margin-left: 400px;
}

#playhead {
width: 8px;
height: 8px;
-webkit-border-radius: 50%;
border-radius: 50%;
margin-top: -3px;
background: lightgrey;
cursor: pointer;
}

.fa-play-circle{
 font-size: 30px;
}

.ora {
 color: grey;
 font-size: 12px;
}

.volume{
 flex-basis: 30%;
 padding-top: 35px;
}

/* mini audioplayer */
.mini-play{
 width: 21%;;
 height: 4px;
 border:2px solid grey;
 margin-top:10px;
 border-radius: 2px;
}

/* media for tablet */
@media screen and (min-width: 602px) and (max-width: 768px) {

 /* vertical section media */
.box{
 width: 23%;
}

/* orizontal section media*/
.orizontal{
 margin-left: 155px;
}

.vert_list-inline li{
 padding-left: 0;
 padding-right: 0;
}

#pulsante {
 padding: 2px 22px;
}

/* footer media */
.my_list-inline{
 padding-left: 250px;
}

#audioplayer{
 padding-left: 0;
 margin-left: 240px;
}
}

/* media for smartphone */
@media screen and (max-width: 600px){

/* vertical section media*/
.box{
width: 40%;
align-items:center;
height: calc(92vh - 80px);
max-height: 100%;
overflow-y: scroll;
}

.box, overflow-y{
 color: purple;
}

#vert-down{
 display: flex;
 flex-direction: column;
 justify-content: center;
}

#smarty{
 width: 100%;
}

.sp{
 visibility: hidden;
}

/* orizontal section media*/
.orizontal{
 margin-top: 0;
 padding-top: 0;
}

.vert_list-inline li{
 display: none;
}

#pulsante{
 display: none;
}

/* footer media */
#play{
 position:fixed;
 z-index: 77;
 left: 0;
}

.my_list-inline{
 display: inline;
 padding-left: 70px;
 }

.smart_list-inline{
 visibility: hidden;
}

#audioplayer, .ora, #timeline {
 visibility: hidden;
}
}

/* the end */
