
/*  general rules */

*{
margin-left: 0;
border-radius: 0;
box-sizing:border-box;
}

li{
list-style: none;
}

p, span, a{
color: grey;
text-decoration: none;
}

h2, a:hover{
 color: white;
 text-decoration: none;
}

/* general container section */

main{
 background-image: linear-gradient(45deg, #000428, #614385);
 height: calc(100vh - 100px);
 max-width: 100%;

}

#fluid-container{
display: flex;
flex-direction: row;
}

/* vertical section */

.box{
flex-basis: 230px;
background-color: black;
display: flex;
flex-direction: column;
justify-content: flex-start;
overflow-y: auto;
}

.box a:hover{
 border-bottom: 2px solid lightgreen;
}

#spotify img{
width: 80%;
height: 40px;
}

nav img{
filter: invert(100%);
height: 20px;
}

.playlist-list{
 height: calc(40vh - 50px);
 overflow-y: auto;
 flex-grow: 1;
}

#linea{
border-bottom: 1px solid grey;
}

/* orizontal section */

.orizontal{
 flex-basis: calc(100vw - 230px);
 display: flex;
 flex-direction: column;
 padding: 30px;
 overflow-y: scroll;
}

#pulsante {
 cursor: pointer;
 text-align: center;
 font-weight: 1px;
 text-decoration: none;
 color: #fff;
 padding: 7px 27px;
 border: solid 1px grey;
 background: black;
 opacity: 0.6;
 border-radius: 20px;
 margin-bottom: 30px;
 transition:transform 0.3s ease;
}

#pulsante:hover {
 transform: scale(1.1);
 border: solid 1px white;
}

.vert_list-inline li{
 padding-left: 40px;
 padding-right: 40px;
 font-family: sans-serif;
 font-size: 13px;
}

.vert_list-inline li:hover{
 border-bottom: 2px solid lightgreen;
}

.compilation{
 height: 1320px;
 padding-top: 30px;
}

.my-st{
 padding-left: 30px;
}

figure{
 margin-left: 15px;
 position: relative;
}


#fluid-container > .orizontal > .compilation > figure > .effect + img:hover{
background-color: #000;
width: 100%;
height: 100%;
position: absolute;
opacity: 0.8;
transition: 0.4s ease;
}


#fluid-container > div.orizontal > div.compilation > figure > .effect i{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 50px;
transition: 0.4s ease;
}

.img-fluid{
 max-width: 150px;
}

/* footer */

/* icons audioplayer */
#play{
width: 100%;
height: 100px;
padding-right: 40px;
display: flex;
background-color: #353041;
position:fixed;
z-index: 2;
bottom: 0;
left: 0;
right: 0;
}

.rewind{
 flex-basis: 80%;
}

.my_list-inline{
 padding-left: 350px;
 padding-top:20px;
 margin-bottom: 0;
 font-size: 20px;
 line-height: 4px;
 word-spacing: 15px;
 color: grey;
}

/* timeline */
#timeline {
width: 450px;
height: 4px;
margin-top: 20px;
margin-left: 5px;
background: rgba(0, 0, 0, 0.3);
}

#audioplayer{
display:flex;
align-items: flex-end;
margin-left: 420px;
}

#playhead {
width: 8px;
height: 8px;
-webkit-border-radius: 50%;
border-radius: 50%;
margin-top: -3px;
background: lightgrey;
cursor: pointer;
}

.fa-play-circle{
 font-size: 30px;
}

.ora {
 color: grey;
 font-size: 12px;
}

.volume{
 flex-basis: 30%;
 padding-top: 35px;
}

/* mini audioplayer */
.mini-play{
 width: 21%;;
 height: 4px;
 border:2px solid grey;
 margin-top:10px;
 border-radius: 2px;
}
/* the end */
